h1 {
  padding-top: 5px;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
h2 {
  font-size: 25px;
  font-weight: 500;
  color: #666e80;
  font-style: italic;
}
sup {
  font-size: 20px;
  vertical-align: text-top;
}
h3 {
  font-size: 18px;
  font-weight: 400;
  color: #8790a4;
}
table {
  font-size: 20px;
  color: #939aa9;
}
img {
  max-width: 80px;
  float: left;
}
.hum,
.wind,
h4 {
  font-size: 16px;
  font-weight: 300;
  line-height: 0.5em;
}
.container {
  max-width: 550px;
  border: 2px solid #939aa9;
  margin: 20px 0 0 20px;
  border-radius: 25px;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}
.temperature {
  font-size: 80px;
  color: #5a6275;
  line-height: 1.2em;
}
.weather {
  font-size: 24px;
  font-weight: 400;
  color: grey;
}
.gitLink {
  margin: 0 0 0 40px;
  font-size: 15px;
}
.celsius {
  color: #5a6275;
  cursor: default;
  text-decoration: none;
}
.celsius:hover {
  color: none;
}
#firstColumn {
  padding: 20px 10px 5px 20px;
}
#secondColumn {
  line-height: 2.2em;
  padding: 20px 20px 5px 5px;
}
#enter-city {
  border: 1px solid grey;
  border-radius: 25px;
  padding: 7px 15px;
  max-width: 80%;
  background-color: #eeeeee;
}
#search-city {
  border: none;
  padding: 0;
  background-color: #b5e2f7;
}
#description {
  text-transform: capitalize;
}
